@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.active {
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 700;
}

.default {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    color: red;
}

.logo {
    font-style: italic;
    font-weight: 700;
}

.banner {
    padding: 10px 0px;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.685)), url(./Images/vincentsinterjers.png);
    background-position: top bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    border: 1px solid greenyellow;
    border-radius: 10px;
    padding: 2px 5px;
    margin-bottom: 10px;
}



.headding {
    color: rgb(240, 136, 9);
    font-size: x-large;
}

.blog-card {
    border: 1px solid black;
    margin: 5px 10px;
    border-radius: 10px;
    padding: 10px;
}

.question {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}